.main{
    width: 1366px;
    margin: auto;
    background-image: url("../images/background-picture.png");
    background-size: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-left: 161px;
    margin-right: 177px;
}
.header-logo{
    display: flex;
    justify-content: space-around;
    margin-top: 51px;
    margin-bottom: 26px;
}
.header-logo:hover a{
    color: #F26522;
}
.header-logo-slogan{
    display: flex;
    flex-direction: column;
}
.header-logo-slogan-top,
.header-logo-slogan-bottom{
    text-decoration: none;
    margin-left: 8px;
}
.header-logo-slogan-top{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    align-items: center;
    color: #FFFFFF;
}
.header-logo-slogan-bottom{
    align-items: flex-end;
    height: 21px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.header-contacts{
    display: flex;
    flex-direction: column;
    margin-top: 46px;
}
.header-contacts-mail,
.header-contacts-number
{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 18px;
    align-items: flex-end;
    color: #FFFFFF;
}
.header-contacts-number:hover{
    color: #F26522;
}
.header-contacts-mail:hover{
    color: #F26522;
}
.header-contacts-mail{
    text-align: right;
    margin-bottom: 19px;
}
.header-contacts-number{
    text-align: right;
    margin-bottom: 17px;
}
.main-content{
    display: grid;
}

.main-content{
    margin-left: 161px;
    margin-right: 177px;
    grid-template-areas:
                         "a1 a2 a3"
                         "a4 a5 a6";
}
.shopping-tours{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 61px;
    grid-area: a1;
}
.image-hover{
    position: absolute;
display: grid;
    grid-template-areas:
                         "b1 b1"
                         "b2 b3";
    background-color: #F26522;
    width: 304px;
    bottom: 49px;
    opacity: 0;
}
.hover-top{
    grid-area: b1;
    text-align: left;
    margin-top: 7px;
    margin-bottom: 8px;
    margin-left: 16px;
}
.hover-bottom{
    grid-area: b2;
    text-align: left;
    margin-bottom: 12px;
    margin-left: 16px;
}
.hover-text{
    grid-area: b3;
    text-align: right;
}
.sightseeing-tours{
    display: flex;
    flex-direction: column;
    margin-right: 62px;
    grid-area: a2;
}
.food-tours{
    display: flex;
    flex-direction: column;
    grid-area: a3;
}
.bars-nightlife{
    display: flex;
    flex-direction: column;
    margin-top: 37px;
    margin-right: 64px;
    grid-area: a4;
}
.art-architecture{
    display: flex;
    flex-direction: column;
    margin-top: 37px;
    margin-right: 63px;
    grid-area: a5;
}
.walking-tours{
    display: flex;
    flex-direction: column;
    margin-top: 37px;
    grid-area: a6;
}
.shopping-tours-element,
.sightseeing-tours-element,
.food-tours-element,
.bars-nightlife-element,
.art-architecture-element,
.walking-tours-element{
    margin-top: 20px;
    align-self: center;
}

.walking-tours-text,
.art-architecture-text,
.bars-nightlife-text,
.food-tours-text,
.sightseeing-tours-text,
.shopping-tours-text{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.footer-text{
    display: block;
    margin: 49px 530px 15px 530px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
}