.body{
    width: 1900px;
}
.hero{
    width: 1900px;
    height: 70px;
    background: #313131;
    display: flex;
    justify-content: space-between;
}
.hero-icon-a{
    padding: 22px 27px 21px 27px;
}
.hero-slogo{
    padding-top: 22px;
    padding-bottom: 22px;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
.hero-menu{
    box-sizing: border-box;
    padding-top: 28px;
    padding-bottom: 26px;
    padding-left: 474px;
    padding-right: 445px;
    display: flex;
    gap: 36px;
    justify-content: space-between;
}
.hero-menu-title{
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hero-menu-title:hover {
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #14B9D5;
}
.hero-icon-b {
    box-sizing: border-box;
    justify-content: right;
    align-items: end;
    padding: 27px 26px;25px 26px;
    background-color: black;
    Width: 68px;
    Height: 70px;
}
.container-header{
    background-image: url("../images/header-background.png");
    background-size:100%;
    position: absolute;
    box-sizing: border-box;
    width: 1900px;
    height: 369px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-title{

    margin-bottom: 44px;
    margin-top: 163px;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
}
.button-title{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
    Width: 360px;
    Height: 55px;
}
.button-text-a{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background: #89CA62;
    border-radius: 4px;
    padding: 16px 19px 17px 19px;
    margin-right: 20px;
}
.button-text-b{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background: #14B9D5;
    border-radius: 4px;
    padding: 16px 29px 17px 30px;
}
.list-structure{
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 417px;
}
.text-title{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    padding-bottom: 52px;
    padding-top: 49px;
}
.main-contant{
    display: flex;
  justify-content: space-between;
    gap: 15px;
    margin-left: 370px;
    margin-right: 360px;
}
.main-contant-a{
    display: flex;
    flex-direction: column;
}
.most-popular-contant-picture{
    margin-bottom: 20px;
}
.most-popular-contant-text{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.clients-section{
    margin-top: 72px;
    background-size:100%;
    background-image: url("../images/clients-section-background.jpeg");
}
.list-clients {
    display: grid;
    grid-auto-rows: 237px 348pч;
    justify-items: center;
    align-items: center;
}
.list-clients-title{
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    padding-top: 107px;
    padding-bottom: 87px;
}
.list-clients-decoration{
    margin: auto;
    padding-bottom: 106px;
}
.list-clients-content{
    display: flex;
    justify-content: space-between;
    gap:58px;
    margin-bottom: 191px;
}
.top-rated-section{
    display: grid;
    grid-template-areas:
            "a1 a1 a1 a1 a1 a1 a1"
            "a2 a3 a4 a5 a6 a7 a8";
   grid-gap: unset;
}
.top-rated-a{
    grid-area: a1;
}
.top-rated-b{
    grid-area: a2;
}
.top-rated-c{
    grid-area: a3;
}
.top-rated-e{
    grid-area: a4;
}
.top-rated-d{
    grid-area: a5;
}
.top-rated-f{
    grid-area:a6 ;
}
.top-rated-l{
    grid-area: a7;
}
.top-rated-k{
    grid-area:a8;
}
.top-rated-text{
    margin-left: 887px;
    margin-bottom: 52px;
    margin-top: 49px;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
}
.hot-news{
    display: grid;
    margin-left: 372px;
    margin-right: 361px;
    grid-template-areas:
                          "a1 a1 a1 a1"
                          "a2 a2 a2 a3"
                          "a4 a4 a5 a5"
                          "a6 a6 a7 a7"
                          "a8 a9 a9 a9";

}
.hot-news-header{
    grid-area: a1;
}
.hot-news-header-text{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 52px;
}
.hot-news-a{
    grid-area: a2;
    display:flex;
    margin-right: 35px;
    margin-bottom: 44px;
}
.hot-news-a-b{
   text-align: right;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.hot-news-a-b-title{
    padding: 41px 24px 14.5px 31px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}
.hot-news-a-b-text{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    padding-right: 24px;
    padding-bottom: 40.5px;
}

.hot-news-b{
    grid-area: a3;
    display: flex;
    flex-direction: column;
}
.hot-news-b-b{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #353A3D;
    background: rgba(0, 0, 0, 0.0001);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    padding: 14px 27px 11px 27px;
}
.hot-news-c{
    grid-area: a4;
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}
.hot-news-c-b{
    text-align: right;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.hot-news-c-b-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding-top: 12px;
    padding-bottom: 15px;
    padding-right: 14px;
}
.hot-news-c-b-text{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    padding-right: 14px;
}
.hot-news-d{
    grid-area: a5;
    display: flex;
    flex-direction: column;
    margin-bottom: 43px;
}
.hot-news-d-b{
    text-align: right;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.hot-news-d-a-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    padding-top: 14px;
    padding-right: 27px;
    padding-bottom: 15px;
}
.hot-news-d-b-text{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    padding-right: 14px;
}
.hot-news-e{
    grid-area: a6;
    display: flex;
    flex-direction: column;
    margin-right: 74px;
    margin-bottom: 44px;
}
.hot-news-e-b{
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    width: 554px;
    text-align: right;

}
.hot-news-e-b-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    margin-top: 14px;
    margin-right: 27px;
    margin-bottom: 15px;
}
.hot-news-e-b-text{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    padding-right: 13px;
}
.hot-news-f{
    grid-area: a7;
    display: flex;
    flex-direction: column;
}
.hot-news-f-b {
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    text-align: right;
}
.hot-news-f-b-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    margin-top: 14px;
    margin-right: 27px;
    margin-bottom: 15px;
}
.hot-news-f-b-text{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    padding-right: 14px;
}
.hot-news-k{
    grid-area: a8;
    display: flex;
    flex-direction: column;
    margin-right: 35px;
}
.hot-news-k-b{
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    text-align: center;
}
.hot-news-k-b-text{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-right: 26px;
}
.hot-news-j{
    grid-area: a9;
    display: flex;
    justify-content: space-around;
    margin-bottom: 71px;
}
.hot-news-j-b{
    text-align: right;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.hot-news-j-b-title{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    margin-top: 41px;
    margin-right: 25px;
    margin-bottom: 14.5px;
}
.hot-news-j-b-text{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    margin-right: 24px;
    margin-bottom: 40.5px;
}
.footer{
    display: grid;
    grid-template-areas:'d1 d2 d3';
    grid-auto-columns: 1438px 38px 453px;
    height: 80px;
    background: #000000;
    justify-items: center;
    align-items: center;
}
.footer-a{
    grid-area: d1;

}
.footer-b{
    grid-area: d2;
}
.footer-c{

  justify-self: start;
    grid-area: d3;
}
.footer-a-text{
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;

}