
.hero{
    display: flex;
    justify-content: space-between;
    margin-left:  330px;
    margin-right: 330px;
}
.hero-title{
    padding: 25.5px;
}
.hero-title-link {
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
    letter-spacing: 2.7px;
}

.picture {
margin-bottom: 49px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1895px;

}
.content-title{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
    letter-spacing: 3.3px;
}
.content{
    align-items:center;
    vertical-align: baseline;
    flex-direction:column-reverse;
   margin-right: 67.5px;
    margin-left: 67.5px;
    margin-bottom: 66px;
}
.content-text{
    text-align: center;
    padding-top: 28px;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
}
.buttom-text{
   margin: auto;
    width: 105px;
    padding-top: 14px;
    padding-bottom:13px;
    padding-left: 38.5px;
    padding-right: 39.5px;
    border-radius: 4px;
    border: 4px solid red;
    margin-bottom: 42px;
    font-weight: bold;
    letter-spacing: 1.8px;
    font-size: 12px;
    line-height: 12px;
    background-color: #FF0000;
}
.finall-text{
   box-sizing: border-box;
    width: 462px;
    height: 39px;
    position: absolute;
    right: 0;
    font-size: 16px;
    letter-spacing: 2.4px;
    line-height: 20px;
    margin-bottom: 29px;
    margin-bottom: 105px;
}

